.hero-section{
    /* display: flex;
    width: 1226px;
    height: 715px;
    justify-content: center;
    align-items: center;
    background: #FFF; */

    /* 1280 * 720 */
    display: flex;
    width: 1280px;
    height: 720px;
    justify-content: center;
    align-items: center;
}

.left-div{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

}

.top-image-section{
    width: 99px;
    height: 100px;
    background: #FFF;
    background: url(<path-to-image>),  50% / cover no-repeat;
}
.bottom-image-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}
.frame-18{
    display: flex;
    align-items: baseline;
}
.text1{
    color: #000;
    /* Section Title */
    font-size: 40px;
    font-family: Inter;
    font-weight: 600;
}
.text2{
    color: var(--label-text, #C7C7C7);
    /* Label Text */
    font-size: 18px;
    font-family: Inter;
}

.frame-19{
    display: flex;
    align-items: flex-end;
    gap: -30px;
}

.img1{
    width: 69px;
    height: 69px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.img2{
    width: 69px;
    height: 69px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.img3{
    width: 69px;
    height: 69px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.message-section{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex: 1 0 0;
    align-self: stretch;
}
.frame-15{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
}
.frame-17{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.message-text{
    color: #000;

    /* Section Title */
    font-size: 40px;
    font-family: Inter;
    font-weight: 600;
}
.enter-message-text{
    color: var(--label-text, #C7C7C7);

    /* Label Text */
    font-size: 18px;
    font-family: Inter;
}
.message-display{
    flex: 1 0 0;
    align-self: stretch;
    border: 1px solid #ABABAB;
}

.buttons-wrapper{
    display: flex;
    width: 184px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

.send-button{
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border:none;
    border-radius: 8px;
    background: var(--button-affirm, #32C1FF);
}

.cancel-btn{
    display: flex;
    height: 53px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border:none;
    border-radius: 8px;
    background: #F00;
}

.send-text{
    color: var(--button-text, #FFF);
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
}
.cancel-text{
    color: var(--button-text, #FFF);
font-size: 25px;
font-family: Inter;
font-weight: 700;
}